html, body {
  margin: 0;
  padding: 0;
}
#root {
  max-width: 1280px;
  display: flex;
  align-items: flex-start;
  min-height: 100vh;
  flex-direction: column;
}


.navbar {
  display: flex;
  width: stretch;
  align-items: center;
  justify-content: space-between;
  gap:2rem;
  padding: 1rem 3vw 0.8rem 3vw;
  border-bottom: 3px double #e0e0e0;
}

.website-logo {
  height: 3cm;
  width: auto;
  cursor: pointer;
  transition: transform 0.3s ease-in-out; 
}

.website-logo:hover {
  transform: scale(1.1); 
}


.nav-links {
  width: 80vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links-left {
  display: flex;
  gap: 3rem;
  align-items: center;
}

.nav-links-right {
  margin-left: auto;
  display: flex;
  /* gap: 30px; */
  align-items: center;
}

.nav-button {
  font-size: 21px;
  color: #000;
  font-weight: bold;
  cursor: pointer;
  transition: color 0.3s ease;
}

.instagram-icon {
  margin-top: 1rem;
  height: 3em;
  transition: transform 0.3s ease-in-out; 
}

.instagram-icon:hover {
  transform: scale(1.1); 
}
.nav-button:hover {
  color: #ff647e;
  transition: transform 0.3s ease-in-out; 
}

.nav-button:hover {
  transform: scale(1.1); 
}

.poster_1, .video_1, .poster_2{
  display: block;
  border-radius: 2%;
  max-width:100%;
  height: auto;
  justify-self: stretch;
}
.poster_1,
.video_1 {
  grid-column: span 2;
}

.poster_2 {
    grid-column: span 4;
}
.media-gallery{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  max-width: 75%;
  margin: 0 auto;
  justify-items: center; 
  align-items: center;
  padding: 5rem;
}
@media (max-width: 600px) {
  .media-gallery {
      grid-template-columns: 1fr; 
  }
  .poster_1,
  .video_1,
  .poster_2 {
      grid-column: span 1; 
  }
}


